extends layout

block content
  span(id="topBorder")
  span(id="rightBorder")
  span(id="leftBorder")
  span(id="bottomBorder")
  canvas(id="renderCanvas")
  script(src="/javascripts/helpers.js")
  script(src="/javascripts/main.js")
  script(src="/javascripts/mainMenu.js")
  script(src="/javascripts/gameplay.js")