html,body,canvas {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
}

#topBorder, #bottomBorder {
  position: absolute;
  width: 100%;
  height: 40px;
}
#rightBorder, #leftBorder {
  position: absolute;
  height: 100%;
  width: 40px;
}

#topBorder {
  top: 0;
}

#rightBorder {
  right: 0;
}

#leftBorder {
  left: 0;
}

#bottomBorder {
  bottom: 0;
}

#trDiag, #brDiag, #tlDiag, #blDiag {
  position: absolute;
  width: 1px;
  height: 1px;
}
#trDiag {
  top: 0;
  right: 0;
}
#brDiag {
  bottom: 0;
  right: 0;
}
#tlDiag {
  top: 0;
  left: 0;
}
#blDiag {
  bottom: 0;
  left: 0;
}
